* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font-face declarations from src/assets/fonts */
@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/Kollektif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/Kollektif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Kollektif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}
